<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d [%t] %-5level %logger{36}. %M. Line number: %L - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile" fileName="C:/Users/r.voitka/OnlinerTestsLogs.log" filePattern="C:/LOG.log">
            <PatternLayout
                    pattern="%d  [%t]  %5p  %logger. %M. Line number: %L - %m%n"/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <Appender-ref ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>